*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 80vw;
    min-height: 50vh;
    background-color: antiquewhite;
    display: flex;
   /* flex-direction */
    flex-direction: row-reverse;
    flex-direction: column;
   flex-direction: column-reverse;
   flex-direction: row;
   /* flex wrap */
   flex-wrap: wrap;
   flex-wrap: wrap-reverse;
   flex-wrap: nowrap;
   /* justify-content */
   justify-content: center;
   justify-content: space-around;
   justify-content: space-between;
   justify-content: space-evenly;
   /* align-items */
   align-items: center;
   align-items: flex-end;
   align-items: flex-start;

   flex-direction: row;
   justify-content: center;
   
}
.box{
    width: 200px;
    height: 200px;
    background-color: orange;
    margin: 30px;
}

#box1{
    order: 1;
    /* flex-shrink: 3; */
    flex-basis: 50px;
}

#box3{
    flex-grow: 3;
    flex-shrink: 3;
   

}
#box2{
    align-self:flex-start;
    align-self: flex-end;
    align-self: center;
}